click==8.1.7
cloudpickle==3.1.0
contourpy==1.1.1
cycler==0.12.1
dask==2023.5.0
fonttools==4.55.3
fsspec==2024.10.0
importlib-metadata==8.5.0
importlib-resources==6.4.5
kiwisolver==1.4.7
locket==1.0.0
matplotlib==3.7.5
numpy==1.24.4
packaging==24.2
pandas==2.0.3
partd==1.4.1
pillow==10.4.0
pyarrow==17.0.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
six==1.17.0
toolz==1.0.0
tzdata==2024.2
zipp==3.20.2
